<div class="row-fluid">
	<div class="span4">
		<%= image_tag('join_us.jpg', style: "padding: 40px;")%>
		<br />
		<b>Helping behavior</b> refers to voluntary actions intended to help the others, with reward regarded or disregarded. It is a type of prosocial behavior (voluntary action intended to help or benefit another individual or group of individuals, such as sharing, comforting, rescuing and helping).
	</div>
	<div class="panel-sign-in span8">
		<div class="panel-heading-sign-in">
			<h4>Sign Up</h4>
		</div>
		<div class="panel-body-sign-in">
			<div class="form-wrapper">
				<%= render "form"%>
			</div>
			<%= render "users/shared/links" %>
		</div>
	</div>
</div>