<div class="row-fluid">
	<div class="span3">
		<%= render "navs/corp_left_panel"%>
	</div>

	<div class="panel-sign-in span9"  style="margin-top: 40px;">
		<div class="panel-heading-sign-in">
			<h4>Create Finance Stats</h4>
		</div>
		<div class="panel-body-sign-in">
			<div class="form-wrapper">
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>