<div class="row-fluid">
	<div class="span3">
		<%= render_panel(current_user.role) %>
	</div>

	<div class="span9"  style="margin-top: 40px;">
		<div class="row">
			<div class="col-xs-12">
				<div class="table-header">
					All Issues
				</div>
				<%= render 'issue_list' %>
			</div>
		</div>


		<div class="panel-body-sign-in">
			<% if @issues.present? %>
			<% else %>
				<% if @comp %>
					<p>No completed issue(s)</p>
				<% else %>
					<p>You have not submitted any issue(s)</p>
				<% end %>
			<% end %>
		</div>
	</div>
</div>