<div class="row-fluid">
	<div class="span3">
		<%= render_panel(current_user.role) %>
	</div>

	<div class="span9"  style="margin-top: 40px;">
		<% if params[:cat].present? %>
			<div class="page-header">
				<h1>
					<% if current_user.inspector? %>
						Issue Status
					<% else %>
						Issue Category
					<% end %>
					<small>
						<i class="icon-double-angle-right"></i>
						<%= params[:cat].split("_").map {|s| s.capitalize}.join(" ") %>
					</small>
				</h1>
			</div>
		<% end %>
		<div class="row">
			<div class="col-xs-12">
				<div class="table-header">
					All Issues
				</div>
				<%= render 'issue_list' %>
			</div>
		</div>
	</div>
</div>