<ul class="nav nav-tabs padding-18">
	<li class="active">
		<a data-toggle="tab" href="#home">
			<i class="green icon-user bigger-120"></i>
			Profile
		</a>
	</li>

	<li>
		<a data-toggle="tab" href="#feed">
			<i class="orange icon-rss bigger-120"></i>
			Financial Statistics
		</a>
	</li>
</ul>
