<div style="padding-top:20px; float:left; width:220px;">
	<div class="panel-heading-sign-in">
		<h4>Navigation</h4>
	</div>
	<div class="panel-body-sign-in panel-detail">
		<div><span><%= link_to 'Add Financial Details', new_fiscal_stat_path %></span></div>
	</div>
</div>