<div class="row-fluid">
	<div class="span3">
		<%= render "navs/socialist_left_panel"%>
	</div>

	<div class="panel-sign-in span9"  style="margin-top: 40px;">
		<div class="panel-heading-sign-in">
			<h4>All Issues</h4>
		</div>
		<div class="panel-body-sign-in">
			<%= render "issues/issue_list" %>
		</div>
	</div>
</div>