<div class="row-fluid">
	<div class="span3">
		<%= render "navs/analyst_left_panel"%>
	</div>
	<div class="panel-sign-in span9">
		<div class="panel-heading-sign-in">
			<h4>Create New Project</h4>
		</div>
		<%= render 'form' %>
	</div>
</div>