<div class="row-fluid">
	<div class="span3">
		<%= render "navs/analyst_left_panel" %>
	</div>

	<div class="panel-sign-in span9"  style="margin-top: 40px;">
		<div class="panel-heading-sign-in">
			<h4>Pending Projects</h4>
		</div>
		<div class="panel-body-sign-in">
			<%= render "list_all_projects" %>
		</div>
	</div>
</div>