<link rel="stylesheet" href="/assets/font-awesome.min.css">
<link rel="stylesheet" href="/assets/ace-fonts.css">
<link rel="stylesheet" href="/assets/ace.min.css">
<link rel="stylesheet" href="/assets/ace-rtl.min.css">
<link rel="stylesheet" href="/assets/ace-skins.min.css">
<script src="/assets/ace-extra.min.js"></script>

<div class="sidebar" id="sidebar">

	<ul class="nav nav-list">
		<li class="active">
			<a href="/users/dashboard">
				<i class="icon-dashboard"></i>
				<span class="menu-text"> Dashboard </span>
			</a>
		</li>

		<li>
			<a href="/users/dashboard">
				<i class="icon-list"></i>
				<span class="menu-text"> All Projects </span>
			</a>
		</li>

		<li>
			<a href="/issues/pending_issues">
				<i class="icon-play"></i>
				<span class="menu-text"> Pending Projects </span>
			</a>
		</li>

		<li>
			<a href="/issues/completed_issues">
				<i class="icon-stop"></i>
				<span class="menu-text"> Completed Projects </span>
			</a>

		</li>

		<li>
			<a href="/issues/completed_issues">
				<i class="icon-download-alt"></i>
				<span class="menu-text"> Pick New Project </span>
			</a>

		</li>

		<li>
			<a href="/issues/new">
				<i class="icon-plus-sign"></i>
				<span class="menu-text"> Add New Project </span>
			</a>
		</li>

		<li>
			<a href="/issues/new" class="dropdown-toggle">
				<i class="icon-picture"></i>
				<span class="menu-text"> Profile </span>
				<b class="arrow icon-angle-down"></b>
			</a>

			<ul class="submenu">
				<li>
					<a href="#">
						<i class="icon-double-angle-right"></i>
						View Profile
					</a>
				</li>

				<li>
					<a href="#">
						<i class="icon-double-angle-right"></i>
						Financial Statistics
					</a>
				</li>
			</ul>
		</li>
	</ul><!-- /.nav-list -->

	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
	</div>

</div>
