<div class="sidebar" id="sidebar">

	<ul class="nav nav-list">
		<li class="active">
			<a href="/dashboard">
				<i class="icon-dashboard"></i>
				<span class="menu-text"> Dashboard </span>
			</a>
		</li>

		<li>
			<a href="<%= new_fiscal_stat_path%>">
				<i class="icon-list"></i>
				<span class="menu-text">Add Financial Details </span>
			</a>
		</li>

		<li>
			<a href="<%= fiscal_stats_path%>">
				<i class="icon-plus-sign"></i>
				<span class="menu-text">View Financial Stats </span>
			</a>
		</li>

		<li>
			<a href="/profile">
				<i class="icon-plus-sign"></i>
				<span class="menu-text"> View Profile </span>
			</a>
		</li>

	</ul>

	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
	</div>

</div>
