<link rel="stylesheet" href="/assets/ace.min.css">
<link rel="stylesheet" href="/assets/ace-rtl.min.css">
<link rel="stylesheet" href="/assets/ace-skins.min.css">

<div class="sidebar" id="sidebar">

	<ul class="nav nav-list">
		<li class="active">
			<a href="/dashboard">
				<i class="icon-dashboard"></i>
				<span class="menu-text"> Dashboard </span>
			</a>
		</li>

		<li>
			<a href="/issues">
				<i class="icon-list"></i>
				<span class="menu-text"> All Projects </span>
			</a>
		</li>

		<li>
			<a href="/issues/new">
				<i class="icon-plus-sign"></i>
				<span class="menu-text"> Add New Project </span>
			</a>
		</li>

		<li>
			<a href="#">
				<i class="icon-download-alt"></i>
				<span class="menu-text"> Pick New Project </span>
			</a>
		</li>

		<li>
			<a href="/profile">
				<i class="icon-picture"></i>
				<span class="menu-text"> Profile </span>
			</a>
		</li>
	</ul>

	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
	</div>

</div>
