<div class="sidebar" id="sidebar">

	<ul class="nav nav-list">
		<li id="li_dashboard">
			<a href="/dashboard">
				<i class="icon-dashboard"></i>
				<span class="menu-text"> Dashboard </span>
			</a>
		</li>

		<li>
			<a href="/projects/ongoing_projects">
				<i class="icon-play"></i>
				<span class="menu-text"> Pending Issues </span>
			</a>
		</li>

		<li>
			<a href="/issues/completed_issues">
				<i class="icon-stop"></i>
				<span class="menu-text"> Completed Issues </span>
			</a>

		</li>

		<li>
			<a href="/issues/new">
				<i class="icon-plus-sign"></i>
				<span class="menu-text"> Add New Issue </span>
			</a>
		</li>

		<li id="li_profile">
			<a href="/profile">
				<i class="icon-picture"></i>
				<span class="menu-text"> Profile </span>
			</a>
		</li>
		
	</ul><!-- /.nav-list -->

	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
	</div>

</div>
<script>
	<% if params[:nav].present? %>
		var nav = "<%= params[:nav] %>"
		$("#li_" + nav).addClass("active");
	<% else %>
		$("#li_dashboard").addClass("active");
	<% end %>
</script>