<div class="sidebar" id="sidebar">

	<ul class="nav nav-list">
		<li class="active">
			<a href="/dashboard">
				<i class="icon-dashboard"></i>
				<span class="menu-text"> Dashboard </span>
			</a>
		</li>

		<li>
			<a href="/profile">
				<i class="icon-list"></i>
				<span class="menu-text"> All Issues </span>
			</a>
		</li>

		<li>
			<a href="/issues/pending_issues">
				<i class="icon-play"></i>
				<span class="menu-text"> Pending Issues </span>
			</a>
		</li>

		<li>
			<a href="/issues/completed_issues">
				<i class="icon-stop"></i>
				<span class="menu-text"> Completed Issues </span>
			</a>

		</li>

		<li>
			<a href="/issues/new">
				<i class="icon-plus-sign"></i>
				<span class="menu-text"> Add New Issue </span>
			</a>
		</li>

		<li>
			<a href="/profile">
				<i class="icon-picture"></i>
				<span class="menu-text"> Profile </span>
			</a>
		</li>
		
	</ul><!-- /.nav-list -->

	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
	</div>

</div>
