<div class="navbar-fixed-bottom footer-wrap">
  <div id="main" class="container clear-top">
  	<ul class="inline">
  		<li><span>©</span>SocialApp 2014</li>
  		<li><a href="/">Privacy</a></li>
  		<li><a href="/">Copyright</a></li>
  		<li><a href="/">Home</a></li>
  		<li><a href="/">About Us</a></li>
  		<li><a href="/">Contact Us</a></li>
  		<li><a href="/">Press Centre</a></li>
  	</ul>
  </div>
</div>