<div class="navbar-fixed-bottom footer-wrap">
  <div id="main" class="container clear-top">
  	<ul class="inline">
  		<li><span>©</span>SocialApp 2014</li>
  		<li><a href="/">Privacy</a></li>
  		<li><a href="/">Copyright</a></li>
  		<li><a href="/">Home</a></li>
  		<li><a href="/">About Us</a></li>
  		<li><a href="/">Contact Us</a></li>
  		<li><a href="/">Press Centre</a></li>
  	</ul>
  </div>
</div>
<!-- Modal for file upload -->
<div id="user-details-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>User Details</h3>
  </div>
  <div class="modal-body">
    <div style="text-align: center;">
      <img src='' id="user-details-img">
    </div>
    <dl class="dl-horizontal" id="user-details-list">
    </dl>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Ok</a>
  </div>
</div>
